/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.header {
  height: 10vh;
  background-color: #e6e6fa;
  color: #000080;
}

.tool-name {
  font-size: 4vh;
  margin-top: 2vh;
  text-align: center;
}

.func-name {
  font-size: 2vh;
  margin-top: 4vh;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #e6e6fa;
  color:#333;
  text-align: center;
  width:100vw;
}
/* Sidebar styling */
.sidebar {
  background-color: #846bab;
  height: 95vh;
}

.sidebar-nav{
  padding:0;
  list-style:none;
	transition:all .5s;
	width:100%;
	text-align:center;
}

.sidebar-nav li{
  line-height:40px;
	width:100%;
	transition:all .3s;
	padding:10px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#ddd;
}

.sidebar-nav li:hover{
  background:#fff;
}
