<div class = "header">
    <div class = "row">
      <div class = "col-lg-2 col-md-2 col-sm-2 tool-name">
        <%= link_to 'Sakikake' , root_path %>
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        <%= link_to 'ユーザー検索' , users_path %>
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        <%= link_to 'プロジェクト一覧' , projects_path %>
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        掲示板
      </div>
  </div>
</div>
