<div class = "header">
    <div class = "row">
      <div class = "col-lg-2 col-md-2 col-sm-2 tool-name">
        Sakikake
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        ユーザー検索
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        プロジェクト一覧
      </div>
      <div class = "col-lg-2 col-md-2 col-sm-2 func-name">
        掲示板
      </div>
  </div>
</div>
