<div>
  <ul class="sidebar-nav">
    <li><a href="#">profile</a></li>
    <li><a href="#">所属Team</a></li>
    <li><a href="#">所属Project</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Memo</a></li>
    <li><a href="#">設定</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
