<div>
  <ul class="sidebar-nav">
    <li><%= link_to 'Profile' , user_path(current_user.id) %></li>
    <li><%= link_to '所属Team' , teams_path %></li>
    <li><a href="#">所属Project</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Memo</a></li>
    <li><a href="#">リリース登録</a></li>
    <li><a href="#">設定</a></li>
    <li><a href="#">Help</a></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'メンバー一覧' , members_path %></li>
  </ul>
</div>
