<div>
  <ul class="sidebar-nav">
    <li><%= link_to 'メッセージ' , user_path(current_user.id) %></li>
    <li><%= link_to 'スカウト(一般)' , teams_path %></li>
    <li><%= link_to 'スカウト(求人)' , teams_path %></li>
  </ul>
</div>
